<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">
  <header>
    <%- include('../partials/header'); %>
  </header>
  <main>
    <div class="wrapper">
     <div class="intro">
      <h1>Test Your Knowledge!</h1>
      <p>10 randomly selected questions.<br>Track your progress in a profile, or get the results emailed to you. New questions added regularly!</p>
     </div>
     <p><%- message %></p>
        <!-- <form> -->
          <div class="login-credentials">
            <p>Login</p>
          <div class="email-field">
            <input id="emailInput" placeholder="Email address" type="text" name="email"/>
          </div>
          <div class="password-field">
            <input id="password" placeholder="Password" type="text" name="password" />
          </div>
          <div class="login-btn">
              <button type="submit" class="large-button base-button full-width">Continue</button>
            </div>
        </div>
        <!-- </form> -->

        <div class="continue-guest">
            <label>&mdash;Or&mdash;</label>
            <button type="button" id="continue-as-guest" class="large-button base-button full-width">Continue as a Guest</button>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <%- include('../partials/footer'); %>
    </footer>
    <script type="module" src="/js/login.js"></script>
  </body>
</html>