<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <main>
      <header><%- include('../partials/header'); %></header>
      <div class="wrapper">
        <h3>Well Done!</h3>
      </div>
      <footer><%- include('../partials/footer'); %></footer>
    </main>
  </body>
</html>
