<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="/style/style.css" />
  </head>
  <body>
    <header>
      <%- include('../partials/header'); %>
      <div class="user">
        <div class="email"><%- email %></div>
        <a href="/logout" class="base-button small-button">Logout</a>
      </div>
    </header>

    <h1>This is a Heading</h1>
    <p>This is a paragraph.</p>
    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
